.card-item-detail{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    img{
        width: 80%;
    }
    .card{
        margin: 0;
        justify-content:center;
        margin: 3%;
    }
}