.navbar {
    display: flex;
    justify-content: flex-end;;
    position: relative;
    height: 4rem;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .navbar__logo {
    width: 8rem;
    margin: 1rem 0 0 1rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;;
    align-items: center;
    width: 15rem;
    height: calc(100vh - 5rem);
    position: absolute;
    top: 0;
    right: -16rem;
    padding: 0;
    margin: 0;
    padding-top: 5rem;
    opacity: 1;
    background: var(--color-alpha);
    transition: right 0.5s ease;
  }
  
  .navbar__menu.active {
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
  .navbar__link,
  .navbar__btn {
    color: var(--color-beta);
    text-decoration: none;
    margin: 1rem;
    height: 3rem;
    width: 8rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
  }
  
  .navbar__link.active {
    position: relative;
    color: white;
    font-weight: bold;
  }
  
  .navbar__link.active::before {
    content: " ";
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 0.3rem;
    height: 1.1rem;
    background-color: var(--color-gamma);
  }
  
  .navbar__link:hover,
  .navbar__btn:hover {
    font-weight: bold;
  }
  
  .navbar__btn {
    cursor: pointer;
    appearance: none;
    border: none;
    border-radius: 5rem;
    background-color: #c3c4fa83;
    text-transform: uppercase;
    outline: none;
    font-size: 0.9rem;
  }
  
  @media screen and (min-width: 750px) {
    .navbar__menu {
      flex-direction: row;
      width: auto;
      position: relative;
      padding: 0;
      top: 0;
      left: 0;
      justify-content: end;
      height: 100%;
      background-color: transparent;
    }
  
    .navbar__link {
      color: black;
      margin: auto;
      padding: 0 1rem;
      width: 5rem;
    }
  
    .navbar__link.active {
      color: black;
      margin: auto;
      padding: 0 1rem;
    }
  
    .navbar__menu-icon {
      display: none;
    }
  }